<script src="3rdLib/aps/ipServer.js"></script>
<script src="3rdLib/aps/Interactive.js"></script>
<script src="3rdLib/bootstrap/js/bootstrap-select.js"></script>

<style>
    .spanKey {
        height: 30px;
        line-height: 30px;
        margin-right: 5px;
    }
</style>

<div id="OuterDiv" style="min-height: 100%;position:relative;">
    <section class="content-header" style="height: 10%;">
        <h1>
            交互优化
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">交互优化</li>
        </ol>
    </section>

    <section class="content" id="InnerDiv" style="height: 90%;">
        <div class="box box-primary" style="width:100%;height:100%;margin:0px;padding:0px;">
            <div id="content" style="width: 100%;height:95%;">
                <div id="menuBar" class="block"
                     style="height: 65px;margin-top: 10px;background-color: white;margin-left: 0px;width: 100%;">
                    <div class="form-group">
                        <select class="form-control select2"
                                style="margin-right:5px;width:150px;float:right;height:30px;padding:2px;"
                                id="activeSelector">
                            <option value="">选择交互控件</option>
                            <option value="GanttOrderTask.view">订单工序甘特图</option>
                            <option value="GanttResourceTask.view">资源工序甘特图</option>
                            <option value="SimulationResource.view">仿真模拟</option>
                        </select>
                        <div class="data-uk-button-radio" style="float: right;margin-right: 1%;">
                            <button id="getInteractiveResult" type="button" class="btn btn-default btn-sm"
                                    ng-click="emulateRecvApsInterResult()" class="btn btn-default"><i
                                    class="fa fa-user-o"></i> 结果转换
                            </button>
                        </div>
                        <div class="data-uk-button-radio" style="float: right;margin-right: 1%;">
                            <button type="button" id="zoomin" class="btn btn-default btn-sm"
                                    onclick="ZoomIn()" class="btn btn-default"><i class="fa fa-search-plus"
                                                                                  aria-hidden="true"></i>放大
                            </button>
                            <button type="button" id="zoomout" class="btn btn-default btn-sm"
                                    onclick="ZoomOut()" class="btn btn-default"><i class="fa fa-search-minus"
                                                                                   aria-hidden="true"></i>缩小
                            </button>
                        </div>

                        <div style="float: left;margin-left: 1%;height:30px;">
                            <span class="spanKey">排程名称:</span>
                            <span class="spanKey">{{schedule.data.name}} > {{ schedule.data.middleNodeName}} > {{schedule.data.bottomNodeName}}</span>

                            <span class="spanKey">状态:</span>

                            <span ng-if="schedule.data.state == 0">下发APS</span>
                            <span ng-if="schedule.data.state == 1"><i
                                    class="fa fa-spinner fa-spin fa-1x fa-fw"></i>&nbsp;计算中</span>
                            <span ng-if="schedule.data.state == 2">计算成功</span>
                            <span ng-if="schedule.data.state == 3">计算失败</span>
                            <span ng-if="schedule.data.state == 4">优化完成</span>
                            <span ng-if="schedule.data.state == 5">下发MES</span>
                        </div>
                    </div>
                </div>

                <div id="div_center" data-options="region:'center'"
                     style="background-color: #FFFFFF; overflow: hidden;height: 460px;">

                    <object classid="clsid:63BF6082-F9AF-457E-AABB-C7C9E125A1A9"
                            id="CheckData" name="CheckData" height="40" width="60" border="0" hspace="0">
                    </object>
                    <object classid="clsid:63BF6082-F9AF-457E-AABB-C7C9E125A1A9"
                            id="AutoScheduling" name="AutoScheduling" height="40" width="60" border="0" hspace="0">
                    </object>
                    <object classid="clsid:63BF6082-F9AF-457E-AABB-C7C9E125A1A9"
                            id="ResumeScheduling" name="ResumeScheduling" height="40" width="60" border="0" hspace="0">
                    </object>
                    <object classid="clsid:63BF6082-F9AF-457E-AABB-C7C9E125A1A9"
                            id="RegenerateExcel" name="RegenerateExcel" height="40" width="60" border="0" hspace="0">
                    </object>
                    <object classid="clsid:63BF6082-F9AF-457E-AABB-C7C9E125A1A9"
                            id="RegenerateView" name="RegenerateView" height="40" width="60" border="0" hspace="0">
                    </object>
                    <object classid="clsid:63BF6082-F9AF-457E-AABB-C7C9E125A1A9"
                            id="Login" name="Login" height="40" width="60" border="0" hspace="0">
                    </object>
                    <object classid="clsid:63BF6082-F9AF-457E-AABB-C7C9E125A1A9"
                            id="Logout" name="Logout" height="40" width="60" border="0" hspace="0">
                    </object>
                    <object classid="clsid:63BF6082-F9AF-457E-AABB-C7C9E125A1A9"
                            id="TableObjective" name="TableObjective" height="100%" width="100%">
                    </object>

                    <img id="CloseWindow1" src="images/close.png" onclick="CloseView(1)"
                         style="position:absolute;right:2px;top:5px;z-index:1;display:none"/>
                    <img id="CloseWindow2" src="images/close.png" onclick="CloseView(2)"
                         style="position:absolute;right:2px;top:5px;z-index:1;display:none"/>
                    <img id="CloseWindow3" src="images/close.png" onclick="CloseView(3)"
                         style="position:absolute;right:2px;top:5px;z-index:1;display:none"/>
                    <object classid="clsid:63BF6082-F9AF-457E-AABB-C7C9E125A1A9"
                            id="ComView1" name="ComView1" height="100%" width="100%" style="display:none">
                    </object>
                    <span onmousedown="positionRecord1();" id="heightResizeBar1"
                          style="background-color:#E6EEF8; border:1px solid #95B8E8"></span>
                    <object classid="clsid:63BF6082-F9AF-457E-AABB-C7C9E125A1A9"
                            id="ComView2" name="ComView2" height="100%" width="100%" style="display:none">
                    </object>
                    <span onmousedown="positionRecord2();" id="heightResizeBar2"
                          style="background-color:#E6EEF8; border:1px solid #95B8E8"></span>
                    <object classid="clsid:63BF6082-F9AF-457E-AABB-C7C9E125A1A9"
                            id="ComView3" name="ComView3" height="100%" width="100%" style="display:none">
                    </object>
                    <div id="welcome_page" align="center" style="display: block;height: 80%;">
                        <img id="welcome_image" alt="" src="images/welcome.jpg" style="width:80%;height:100%">
                    </div>
                    <span class="get_view_ok"></span>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="3rdLib/jquery_resize.js"/>

<script>
    function resizeD3ViewSize() {
        $("#OuterDiv").css("height", $("#RenGu").height() + "px");
        $("#OuterDiv").css("width", $("#RenGu").width() + "px");
    }

    $(document).ready(function () {
        resizeD3ViewSize();

        $("#RenGu").resize(function () {
        });
    });

    $(window).resize(function () {
        resizeD3ViewSize();
    });
</script>