<style>
    .modal-dialog {
        width: 70%;
        height: 80%;
    }

    .modal-body, .modal-content {
        height: 100%;
        padding: 0px;
    }

    .col-sm-4 {
        padding-left: 13px;
    }

    #MyContainer {
        width: 100%;
        height: 95%;
        overflow: hidden;
        padding: 5px;
    }

    .MyPage {
        width: 100%;
        /*height: 100%;*/
        height: 87%;
        float: left;
        position: relative;
    }

    #MyUl {
        list-style: none;
        margin: 0px;
        height: 30px;
        width: 100%;
        background-color: rgba(200, 200, 200, 0.2);
    }

    .MyPageTip {
        float: left;
        display: block;
        text-align: center;
        line-height: 30px;
    }

    #tipHover {
        position: absolute;
        background-color: #f44336;
        box-shadow: 0 16px 26px -10px rgba(244, 67, 54, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(244, 67, 54, 0.2);
        height: 32px;
        border-radius: 2px;
        line-height: 32px;
        text-align: center;
        color: white;
        font-weight: 600;
    }

    .myInput {
        height: 27px;
    }

    .form-group {
        margin-bottom: 13px;
    }

    /*.myInputform-control {
        font-size: 11px;
    }*/

    #selectAdd {
        width: 166.933px;
        height: 24px;
    }

    .form-horizontal .control-label {
        padding-top: 4px;
    }

    .MyPage {
        height: 92%;
    }
</style>

<div>
    <section class="content-header">
        <h1>
            计划排程管理
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">计划排程管理</li>
        </ol>
    </section>

    <section class="content">
        <div class="box box-primary">
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <div class="mailbox-controls">
                    <!-- Check all button -->
                    <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
                    </button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i>
                        </button>
                    </div>
                    <!-- /.btn-group -->
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" id="scheduleButt"
                                    class="btn btn-default btn-sm" data-toggle="modal"
                                    ng-click="prepareNewSchedule();">
                                <i class="fa fa-plus"></i>
                                新增排程
                            </button>
                            <button type="button" class="btn btn-default btn-sm" ng-click="deleteSchedule()"><i
                                    class="fa fa-trash-o"></i> 删除
                            </button>
                        </div>
                        <!-- /.btn-group -->
                    </div>
                    <!-- /.pull-right -->
                </div>
                <div class="table-responsive mailbox-messages">
                    <table class="table table-hover table-striped" id="table_value">
                        <tbody>
                        <tr>
                            <td></td>
                            <th style="overflow: hidden;min-width: 120px;">排程名</th>
                            <th>排程时间</th>
                            <th>计算开始时间</th>
                            <th>计算结束时间</th>
                            <th>排程时间窗</th>
                            <th>滚动周期</th>
                            <th>状态</th>
                        </tr>
                        <tr ng-repeat="schedule in scheduleList | orderBy: 'scheduleTime': asc"
                            ng-init="renderTable($last)">
                            <td><input name="check" type="checkbox"></td>
                            <td style="display:none">{{schedule.id}}</td>
                            <td style="position: absolute;">{{schedule.name}}
                                <span class="label label-success"
                                      style="position:relative;left:5px;top:0px;cursor: pointer;"
                                      ng-if="(schedule.state == 2 || schedule.state == 4) && $last"
                                      ng-click="interactiveSchedule()">优化</span>
                            </td>
                            <td>{{schedule.scheduleTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td>{{schedule.startCalcTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td>
                                <span ng-if="schedule.endCalcTime==null">---</span>
                                <span ng-if="schedule.endCalcTime!=null">{{schedule.endCalcTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                            </td>
                            <td>{{schedule.scheduleWindow}}&nbsp;天</td>
                            <td>{{schedule.rollTime}}&nbsp;天</td>
                            <td>
                                <span class="label label-success" ng-if="schedule.state == 0">下发APS</span>
                                <span class="label label-primary" ng-if="schedule.state == 1"><i
                                        class="fa fa-spinner fa-spin fa-1x fa-fw"></i>&nbsp;计算中</span>
                                <span class="label label-success" ng-if="schedule.state == 2">计算成功</span>
                                <span class="label label-danger" ng-if="schedule.state == 3">计算失败</span>
                                <span class="label label-success" ng-if="schedule.state == 4">优化完成</span>
                                <span class="label label-info" ng-if="schedule.state == 5">下发MES</span>

                                <span class="label label-success" ng-if="schedule.state == 10">应急计算成功</span>
                                <span class="label label-success" ng-if="schedule.state == 11">应急优化完成</span>
                                <span class="label label-danger" ng-if="schedule.state == 12">应急计算失败</span>
                                <span class="label label-info" ng-if="schedule.state == 13">应急下发MES</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--新增窗口-->
        <div class="modal fade " id="modal-add">
            <div class="modal-dialog" style="height: 75%;">
                <div class="modal-content" style="height:100%;">
                    <div class="modal-header" style="height: 10%;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="reset()">
                            <span aria-hidden="true">&times;</span></button>
                        <h2 style="font-size:23px;margin-top: 15px;">新建排程</h2>
                    </div>
                    <div class="modal-body" style="height: 90%;">
                        <div id="MyContainer">
                            <div style="height: 8%;">
                                <div id="tipHover"></div>
                                <ul id="MyUl">
                                    <li class="MyPageTip">基础信息</li>
                                    <li class="MyPageTip">布局信息</li>
                                    <li class="MyPageTip">订单信息</li>
                                </ul>
                            </div>
                            <!--新增排程页面时，只需要新增div并且class='MyPage'即可-->
                            <div class="MyPage">
                                <div class="" style="height: 100%;">
                                    <section class="content" style="height: 100%;">
                                        <div class="row" style="height: 100%;">
                                            <div class="col-md-4">
                                                <div class="modal-body">
                                                    <form class="form-horizontal">
                                                        <div class="box-body" style="margin-top: -10px">
                                                            <div class="form-group" id="add-name">
                                                                <label class="col-sm-4 control-label">排程名称</label>

                                                                <div class="col-sm-8">
                                                                    <input class="myInput form-control" name="add-name"
                                                                           id="scheduleName"
                                                                           title="请输入名称！">
                                                                </div>
                                                            </div>

                                                            <div class="form-group" id="add-scheduleDays">
                                                                <label class="col-sm-4 control-label">排程周期(天)</label>
                                                                <div class="col-sm-8">
                                                                    <input id="scheduleTime"
                                                                           class="myInput form-control"
                                                                           name="add-scheduleDays" title="请输入排程周期(天)！">
                                                                </div>
                                                            </div>

                                                            <div class="form-group" id="add-rollTime">
                                                                <label class="col-sm-4 control-label">滚动周期(天)</label>

                                                                <div class="col-sm-8">
                                                                    <input id="rollTime" class="myInput form-control"
                                                                           name="add-rollTime"
                                                                           title="请输入滚动周期(天)！">
                                                                </div>
                                                            </div>

                                                            <div class="form-group" id="add-schedule">
                                                                <label class="col-sm-4 control-label">排程模式</label>

                                                                <div class="col-sm-8">
                                                                    <select id="selectAdd" class="myInput form-control"
                                                                            name="add-schedule" placeholder="正向排程"
                                                                            style="padding: 1px 8px;">
                                                                        <option value="正向">正向排程</option>
                                                                        <option value="反向">反向排程</option>
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <div class="form-group" id="scheduleOption">
                                                                <label class="col-sm-4 control-label">可容忍时间(天)</label>
                                                                <div class="col-sm-8">
                                                                    <input class="myInput form-control" id="delayTime"
                                                                           title="可容忍时间(天)！" name="scheduleOption">
                                                                </div>
                                                            </div>

                                                            <div class="form-group" id="add-start" name="start">
                                                                <label class="col-sm-4 control-label">优化开始</label>
                                                                <div class="col-sm-8">
                                                                    <input class="myInput form-control" name="add-start"
                                                                           id="apsStartTime" type="text" value="">
                                                                </div>
                                                            </div>

                                                            <div class="form-group" id="add-end">
                                                                <label class="col-sm-4 control-label">优化结束</label>
                                                                <div class="col-sm-8">
                                                                    <input class="myInput form-control" name="add-end"
                                                                           id="apsEndTime" type="text" value="">
                                                                </div>
                                                            </div>

                                                            <div>
                                                                <button type="submit"
                                                                        class="btn btn-primary btn-flat pull-right"
                                                                        style="width: 96%;"
                                                                        ng-click="infoValidate();">筛选订单
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-md-8" style="height: 100%;overflow: auto;">
                                                <div class="box box-primary">
                                                    <div class="box-body no-padding">
                                                        <!-- THE CALENDAR -->
                                                        <div id="calendar" ng-init="renderCalendar($last)"></div>
                                                    </div>
                                                    <!-- /.box-body -->
                                                </div>
                                                <!-- /. box -->
                                            </div>
                                            <!-- /.col -->
                                        </div>
                                        <!-- /.row -->
                                    </section>
                                    <!-- /.content -->
                                </div>

                            </div>

                            <div class="MyPage">

                                <div class="table-responsive mailbox-messages">
                                    <table class="table table-hover table-striped" id="layouts">
                                        <tbody>
                                        <tr>
                                            <td></td>
                                            <td>布局名称</td>
                                            <td>布局描述</td>
                                            <td>布局图</td>
                                        </tr>
                                        <tr ng-repeat="x in layout">
                                            <td style="line-height: 70px;height:70px"><input name="check1"
                                                                                             type="checkbox"
                                                                                             ng-checked="isSelected(x.id)"
                                                                                             ng-click="updateSelection($event,x.id)">
                                            </td>
                                            <td style="display:none">{{x.id}}</td>
                                            <td style="line-height: 70px;height:70px">{{x.name}}</td>
                                            <td style="line-height: 70px;height:70px">{{x.layoutDesc}}</td>
                                            <td><img src="images/layout/{{x.path}}" title="查看大图"
                                                     style="width:70px;height:70px;cursor:pointer"
                                                     ng-click="showDetail($event)"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="MyPage">
                                <div class="table-responsive mailbox-messages">
                                    <table class="table table-hover table-striped" id="orders">
                                        <tbody>
                                        <tr>
                                            <td></td>
                                            <td>名称</td>
                                            <td>来源</td>
                                            <td>优先级</td>
                                            <td>下单时间</td>
                                            <td>最早开工</td>
                                            <td>最晚开工</td>
                                        </tr>
                                        <tr ng-repeat="x in ordinfo">
                                            <td><input id="check1" name="check1" type="checkbox"
                                                       ng-checked="isSelected(x.id)"
                                                       ng-click="updateSelection($event,x.id)"></td>
                                            <td style="display:none">{{x.id}}</td>
                                            <td>{{x.name}}</td>
                                            <td>{{x.origin}}</td>
                                            <td>{{x.priority}}</td>
                                            <td>{{x.t0 | date:'yyyy-MM-dd hh:mm:ss' }}</td>
                                            <td>{{x.t1 | date:'yyyy-MM-dd hh:mm:ss' }}</td>
                                            <td>{{x.t2 | date:'yyyy-MM-dd hh:mm:ss' }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer" style="clear:both;height:15%">
                            <button id="previouseStep" type="submit" class="btn btn-default" ng-click="previous()">上一步
                            </button>
                            <button id="nextStep" type="submit" class="btn btn-info pull-right" ng-click="next()">下一步
                            </button>
                            <button id="startSchedule" type="submit" class="btn btn-info pull-right"
                                    ng-click="submitForm()">开始排程
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>