<style type="text/css">
    .ztree * {
        padding: 0;
        margin: 0;
        font-size: 14px;
        font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif;
    }

    .ztree li {
        padding: 5px;

    }

    .ztree li:last-child::before {
        height: 30px;
    }

    .ztree li a {
        height: 24px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border: 1px solid lightgrey;
        border-radius: 5px;
        display: inline-block;
        padding: 3px 10px;
        text-decoration: none;
        background-color: #f9fcfc;
        margin-top: 8px;
    }

    .ztree ul > li {
        list-style-type: none;
        margin-left: 3px;
        padding: 10px 0px 5px 5px;
        position: relative;
        left: 0px;
        font-size: 12px;
        cursor: pointer;
    }

    .ztree li a.curSelectedNode {
        height: 24px;
        padding-top: 2px;
    }

    .box {
        position: unset;
    }
</style>

<div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            计划排程快照管理
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">计划排程快照管理</li>
        </ol>
    </section>

    <div id="floatRightMenu">
        <ul id="navigationMenu">
            <li>
                <a class="home" href="" ng-click="viewIn3DFactory()"><i class="fa fa-video-camera"></i>
                    <span>3D车间显示</span>
                </a>
            </li>
            <li>
                <a class="home" href="" ng-click="dispatchMes()"><i class="fa fa-wrench" aria-hidden="true"></i>
                    <span>下发MES</span>
                </a>
            </li>
            <li>
                <a class="home" href=""><i class="fa fa-usb" aria-hidden="true"></i>
                    <span>快照对比</span>
                </a>
            </li>
            <li>
                <a class="home" href=""><i class="fa fa-undo" aria-hidden="true"></i>
                    <span>恢复快照</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-3">

                <div class="form-group">
                    <label>选择排程</label>
                    <select class="form-control select2" style="width: 100%;float:left;" id="select">
                        <option selected="selected"></option>
                        <option ng-repeat="data in dataArr">{{data.name}}</option>
                    </select>
                </div>

                <div class="box box-solid" style="overflow: auto;">
                    <div class="box-header with-border">
                        <h3 class="box-title">排程-快照信息</h3>

                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>

                    <div class="box-body no-padding" style=" overflow-y:auto;">
                        <div>
                            <ul id="treeDemo" class="ztree"></ul>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <h2 style="font-size: 17px;font-weight: 600;margin-bottom: 8px">基本信息</h2>
                <div style="height: auto;margin-bottom: 3px;">

                    <table class="table table-striped">
                        <tr>
                            <td><span class="spanKey">排程名称</span></td>
                            <td><span class="spanVal">{{snapShotData.name}}</span></td>
                            <td><span class="spanKey">排程状态</span></td>
                            <td><span ng-if="snapShotData.schedule.state == 0">下发APS</span>
                                <span ng-if="snapShotData.schedule.state == 1"><i
                                        class="fa fa-spinner fa-spin fa-1x fa-fw"></i>&nbsp;计算中</span>
                                <span class="label label-success" ng-if="snapShotData.schedule.state == 2">计算成功</span>
                                <span class="label label-danger" ng-if="snapShotData.schedule.state == 3">计算失败</span>
                                <span class="label label-success" ng-if="snapShotData.schedule.state == 4">优化完成</span>
                                <span class="label label-info" ng-if="snapShotData.schedule.state == 5">下发MES</span>

                                <span class="label label-success"
                                      ng-if="snapShotData.schedule.state == 10">应急计算成功</span>
                                <span class="label label-danger" ng-if="snapShotData.schedule.state == 12">应急计算失败</span>
                                <span class="label label-success"
                                      ng-if="snapShotData.schedule.state == 11">应急优化完成</span>
                                <span class="label label-info" ng-if="snapShotData.schedule.state == 13">应急下发MES</span>
                            </td>
                            <td><span class="spanKey">排程周期</span></td>
                            <td><span class="spanVal" ng-if="snapShotData.schedule.scheduleWindow==null">--</span>
                                <span class="spanVal" ng-if="snapShotData.schedule.scheduleWindow!=null">{{snapShotData.schedule.scheduleWindow}}&nbsp;天</span>
                            </td>
                            <td><span class="spanKey">滚动周期</span></td>
                            <td><span class="spanVal" ng-if="snapShotData.schedule.rollTime==null">--</span>
                                <span class="spanVal">{{snapShotData.schedule.rollTime}}&nbsp;天</span>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="spanKey">排程时间</span></td>
                            <td><span class="spanVal" ng-if="snapShotData.schedule.scheduleTime==null"></span>
                                <span class="spanVal" ng-if="snapShotData.schedule.scheduleTime!=null">{{snapShotData.schedule.scheduleTime | date:'yyyy-MM-dd hh:mm:ss'}}</span>
                            </td>
                            <td><span class="spanKey">计算开始时间</span></td>
                            <td><span class="spanVal" ng-if="snapShotData.schedule.startCalcTime==null"></span>
                                <span class="spanVal" ng-if="snapShotData.schedule.startCalcTime!=null">{{snapShotData.schedule.startCalcTime | date:'yyyy-MM-dd hh:mm:ss'}}</span>
                            </td>
                            <td><span class="spanKey">计算结束时间</span></td>
                            <td><span class="spanVal" ng-if="snapShotData.schedule.endCalcTime==null"></span>
                                <span class="spanVal" ng-if="snapShotData.schedule.endCalcTime!=null">{{snapShotData.schedule.endCalcTime | date:'yyyy-MM-dd hh:mm:ss'}}</span>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>

                <div class="box box-primary" style="clear: both;">

                    <div class="box-body no-padding">
                        <div class="mailbox-controls">
                            <!-- Check all button -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i>
                                </button>
                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i>
                                </button>
                            </div>

                            <!-- /.pull-right -->
                        </div>
                        <div class="table-responsive mailbox-messages">
                            <table class="table table-hover table-striped" id="table_value">
                                <tbody>
                                <tr>
                                    <th>订单名称</th>
                                    <th>供应商</th>
                                    <th>订单优先级</th>
                                    <th>订单数量</th>
                                    <th>最晚完工</th>
                                </tr>
                                <tr ng-repeat="plan in planList" ng-init="renderTable($last)">
                                    <td style="display:none">{{plan.id}}</td>
                                    <td>{{plan.nameOrder}}</td>
                                    <td>{{plan.nameProvider}}</td>
                                    <td>{{plan.priorityOrder}}</td>
                                    <td>{{plan.quantityOrder}}</td>
                                    <td>{{plan.t2Order}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- /.table -->
                        </div>
                        <!-- /.mail-box-messages -->
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>