<style type="text/css">
    #rMenu {
        position: absolute;
        visibility: hidden;
        top: 0;
        vertical-align: middle;
        border: 1px solid #c3c3c3;
        background: #c3c3c3;
        /*padding: 2px;*/
    }

    #rMenu ul {
        padding: 0px;
        border: 0;
        outline: 0;
        font-weight: inherit;
        font-style: inherit;
        font-size: 100%;
        font-family: inherit;
        vertical-align: baseline;
        margin-top: -1px;
        margin-bottom: -1px;
    }

    #rMenu ul li {
        cursor: pointer;
        list-style: none outside none;
        padding: 2px 10px;
        margin: 1px 0;
        background-color: white;
        vertical-align: middle;
    }

    .ztree * {
        padding: 0;
        margin: 0;
        font-size: 14px;
        font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif;
    }

    .ztree li {
        padding: 5px;

    }

    /*第一个图标*/
    .ztree li span.button.switch.level0 {
        background: url("../../images/bom_img/1.png") no-repeat;
        position: relative;
        margin-top: 12px;
        margin-left: 5px;
    }

    /*
    第二个图标
    */
    .ztree li span.button.switch.level1 {
        background: url("../../images/bom_img/2.png") no-repeat;
        position: relative;
        margin-top: 15px;
        margin-left: 10px;
    }

    /*
    第三个图标
    */
    .ztree li span.button.switch.level2 {
        background: url("../../images/bom_img/3.png") no-repeat;
        position: relative;
        margin-top: 18px;
        margin-left: 12px;
    }

    .ztree li:last-child::before {
        height: 30px;
    }

    .ztree li a {
        height: 24px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border: 1px solid lightgrey;
        border-radius: 5px;
        display: inline-block;
        padding: 3px 10px;
        text-decoration: none;
        background-color: #f9fcfc;
        margin-top: 8px;
    }

    .ztree ul > li {
        list-style-type: none;
        margin-left: 3px;
        padding: 10px 0px 5px 5px;
        position: relative;
        left: 0px;
        font-size: 12px;
        cursor: pointer;
    }

    .ztree li a.curSelectedNode {
        height: 24px;
        padding-top: 2px;
    }

    .box {
        position: unset;
    }

    .spanKey {
        width: 120px;
        height: 30px;
        /*background-color:red;*/
        float: left;
        text-align: center;
        padding-right: 5px;
        margin-right: 5px;
        line-height: 30px;
    }

    .spanVal {
        width: 150px;
        height: 30px;
        /*background-color: red;*/
        color: white;
        float: left;
        text-align: left;
        line-height: 30px;
        padding-left: 10px;
        margin-right: 5px;
        color: black;
        border-bottom: 1px solid lightgrey;
    }

</style>

<div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            计划排程快照管理
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">计划排程快照管理</li>
        </ol>
    </section>

    <div id="floatRightMenu">
        <ul id="navigationMenu">
            <li>
                <a class="home" href="" ng-click="viewIn3DFactory()"><i class="fa fa-video-camera"></i>
                    <span>3D车间显示</span>
                </a>
            </li>
            <li>
                <a class="home" href="" ng-click="dispatchMes()"><i class="fa fa-wrench" aria-hidden="true"></i>
                    <span>下发MES</span>
                </a>
            </li>
            <li>
                <a class="home" href=""><i class="fa fa-usb" aria-hidden="true"></i>
                    <span>快照对比</span>
                </a>
            </li>
            <li>
                <a class="home" href=""><i class="fa fa-undo" aria-hidden="true"></i>
                    <span>恢复快照</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label contenteditable="true" style="float: left;">选取排程:</label>
                    <select class="form-control select2" style="float:left;" id="select">
                        <option selected="selected"></option>
                        <option ng-repeat="data in dataArr">{{data.name}}</option>
                    </select>
                </div>

                <!--树-->
                <div class="box box-solid" style="overflow: auto;">
                    <div class="box-header with-border">
                        <h3 class="box-title">快照信息</h3>

                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>

                    <div class="box-body no-padding" style=" overflow-y:auto;/* overflow-x:auto; width:200px; height:200px;*/">
                        <div>
                            <ul id="treeDemo" class="ztree"></ul>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <h2 style="font-size: 17px;font-weight: 600;margin-bottom: 8px">基本信息</h2>
                <div style="height: auto;margin-bottom: 3px;">
                    <div style="display: block;height:35px;">
                        <span class="spanKey">排程名称</span>
                        <span class="spanVal">{{snapShotData.name}}</span>
                        <span class="spanKey">排程状态</span>
                        <span class="spanVal">
                                <span ng-if="snapShotData.schedule.state == 0">下发APS</span>
                                <span ng-if="snapShotData.schedule.state == 1"><i
                                        class="fa fa-spinner fa-spin fa-1x fa-fw"></i>&nbsp;计算中</span>
                                <span class="label label-success" ng-if="snapShotData.schedule.state == 2">计算成功</span>
                                <span class="label label-danger" ng-if="snapShotData.schedule.state == 3">计算失败</span>
                                <span class="label label-success" ng-if="snapShotData.schedule.state == 4">优化完成</span>
                                <span class="label label-info" ng-if="snapShotData.schedule.state == 5">下发MES</span>

                                <span class="label label-success"
                                      ng-if="snapShotData.schedule.state == 10">应急计算成功</span>
                                <span class="label label-danger" ng-if="snapShotData.schedule.state == 12">应急计算失败</span>
                                <span class="label label-success"
                                      ng-if="snapShotData.schedule.state == 11">应急优化完成</span>
                                <span class="label label-info" ng-if="snapShotData.schedule.state == 13">应急下发MES</span>
                        </span>
                        <span class="spanKey">排程周期</span>
                        <span class="spanVal" ng-if="snapShotData.schedule.scheduleWindow==null"></span>
                        <span class="spanVal" ng-if="snapShotData.schedule.scheduleWindow!=null">{{snapShotData.schedule.scheduleWindow}}&nbsp;天</span>
                        <span class="spanKey">滚动周期</span>
                        <span class="spanVal" ng-if="snapShotData.schedule.rollTime==null"></span>
                        <span class="spanVal" >{{snapShotData.schedule.rollTime}}&nbsp;天</span>
                    </div>
                    <div style="display: block;height:35px;">
                        <span class="spanKey">排程时间</span>
                        <span class="spanVal">{{snapShotData.schedule.scheduleTime | date:'yyyy-MM-dd hh:mm:ss'}}</span>
                        <span class="spanKey">计算开始时间</span>
                        <span class="spanVal" ng-if="snapShotData.schedule.apsStartTime==null"></span>
                        <span class="spanVal" ng-if="snapShotData.schedule.apsStartTime!=null">{{snapShotData.schedule.apsStartTime | date:'yyyy-MM-dd hh:mm:ss'}}</span>
                        <span class="spanKey">计算结束时间</span>
                        <span class="spanVal" ng-if="snapShotData.schedule.apsEndTime==null"></span>
                        <span class="spanVal" ng-if="snapShotData.schedule.apsEndTime!=null">{{snapShotData.schedule.apsEndTime | date:'yyyy-MM-dd hh:mm:ss'}}</span>
                    </div>
                </div>

                <div class="box box-primary" style="clear: both;">

                    <div class="box-body no-padding">
                        <div class="mailbox-controls">
                            <!-- Check all button -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i>
                                </button>
                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i>
                                </button>
                            </div>

                            <!-- /.pull-right -->
                        </div>
                        <div class="table-responsive mailbox-messages">
                            <table class="table table-hover table-striped" id="table_value">
                                <tbody>
                                <tr>
                                    <th>订单名称</th>
                                    <th>供应商</th>
                                    <th>作业时间</th>
                                    <th>作业初始时间</th>
                                    <th>作业更新时间</th>
                                </tr>
                                <tr ng-repeat="plan in planList" ng-init="renderTable($last)">
                                    <td style="display:none">{{plan.id}}</td>
                                    <td>{{plan.nameOrder}}</td>
                                    <td>{{plan.nameProvider}}</td>
                                    <td>{{plan.timeTask}}</td>
                                    <td>{{plan.initTimeTask}}</td>
                                    <td>{{plan.postTimeTask}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- /.table -->
                        </div>
                        <!-- /.mail-box-messages -->
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>