<style type="text/css">
    #rMenu {
        position: absolute;
        visibility: hidden;
        top: 0;
        background-color: #F0FFFF;
        padding: -6px;
        margin: 1px 3px;
    }

    #rMenu ul li {
        cursor: pointer;
        list-style: none;
        background-color: #F0FFFF;
        margin-left: -10px;
        padding: 2px;
    }

    .ztree * {
        padding: 0;
        margin: 0;
        font-size: 14px;
        font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif;
    }

    .ztree li {
        padding: 5px;

    }

    /*第一个图标*/
    .ztree li span.button.switch.level0 {
        background: url("../../images/bom_img/1.png") no-repeat;
        position: relative;
        margin-top: 12px;
        margin-left: 5px;
    }

    /*
    第二个图标
    */
    .ztree li span.button.switch.level1 {
        background: url("../../images/bom_img/2.png") no-repeat;
        position: relative;
        margin-top: 15px;
        margin-left: 10px;
    }

    /*
    第三个图标
    */
    .ztree li span.button.switch.level2 {
        background: url("../../images/bom_img/3.png") no-repeat;
        position: relative;
        margin-top: 18px;
        margin-left: 12px;
    }

    .ztree li:last-child::before {
        height: 30px;
    }

    .ztree li a {
        height: 24px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border: 1px solid lightgrey;
        border-radius: 5px;
        display: inline-block;
        padding: 3px 10px;
        text-decoration: none;
        background-color: #f9fcfc;
        margin-top: 8px;
    }

    .ztree ul > li {
        list-style-type: none;
        margin-left: 3px;
        padding: 10px 0px 5px 5px;
        position: relative;
        left: 0px;
        font-size: 12px;
        cursor: pointer;
    }

    .ztree li a.curSelectedNode {
        height: 24px;
        padding-top: 2px;
    }

    .box {
        position: unset;
    }
</style>

<div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            计划排程快照管理
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">计划排程快照管理</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-3">

                <!--下拉-->
                <div class="form-group">
                    <select class="form-control select2" style="width: 100%;" id="select">
                        <option selected="selected"></option>
                        <option ng-repeat="x in dataArr">{{x.name}}</option>
                    </select>
                </div>

                <!--树-->
                <div class="box box-solid" style="/*width: 170px;*/overflow: auto;">
                    <div class="box-header with-border">
                        <h3 class="box-title">ScheduleSnap</h3>

                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>


                    <div class="box-body no-padding"
                         style=" overflow-y:auto;/* overflow-x:auto; width:200px; height:200px;*/">

                        <div>
                            <ul id="treeDemo" class="ztree"></ul>
                        </div>

                        <div id="rMenu" style="width: 100px;">
                            <ul>
                                <li id="m_add" ng-click="addTreeNode()">增加</li>
                                <li id="m_del" ng-click="removeTreeNode()">删除</li>
                                <li id="m_re" ng-click="checkTreeNode()">重命名</li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>

                <!-- /.box -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">

                <div class="box box-primary">

                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <div class="mailbox-controls">
                            <!-- Check all button -->
                            <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i></button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                            </div>

                            <!-- /.pull-right -->
                        </div>
                        <div class="table-responsive mailbox-messages">
                            <table class="table table-hover table-striped" id="table_value">
                                <tbody>
                                <tr>
                                    <td></td>
                                    <th>工序名称</th>
                                    <th>作业名称</th>
                                    <th>产品名称</th>
                                    <th>工序号</th>
                                    <th>加工总数量</th>
                                    <th>估时</th>
                                    <th>状态</th>
                                </tr>
                                <tr ng-repeat="order in plan" ng-init="renderTable($last)">
                                    <td><input name="check" type="checkbox"></td>
                                    <td style="display:none">{{order.id}}</td>
                                    <td>{{order.nameTask}}</td>
                                    <td>{{order.type}}</td>
                                    <td>{{order.origin}}</td>
                                    <td>{{order.quantity}}</td>
                                    <td>{{order.t0}}</td>
                                    <td>{{order.t2}}</td>
                                    <td>
                                        <span class="label label-success" ng-if="order.state == 0">候选</span>
                                        <span class="label label-primary" ng-if="order.state == 1">计划</span>
                                        <span class="label label-danger" ng-if="order.state == 2">锁定</span>
                                        <span class="label label-success" ng-if="order.state == 3">发布</span>
                                        <span class="label label-warning" ng-if="order.state == -1">删除</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- /.table -->
                        </div>
                        <!-- /.mail-box-messages -->
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>