<style type="text/css">
    #rMenu {
        position: absolute;
        visibility: hidden;
        top: 0;
        background-color: #F0FFFF;
        padding: -6px;
        margin: 1px 3px;
    }

    #rMenu ul li {
        cursor: pointer;
        list-style: none;
        background-color: #F0FFFF;
        margin-left: -10px;
        padding: 2px;
    }

    .ztree * {
        padding: 0;
        margin: 0;
        font-size: 14px;
        font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif;
    }

    .ztree li {
        padding: 5px;
    }

    /*第一个图标*/
    .ztree li span.button.switch.level0 {
        background: url("../../images/bom_img/1.png") no-repeat;
        position: relative;
        margin-top: 12px;
        margin-left: 5px;
    }

    /*
    第二个图标
    */
    .ztree li span.button.switch.level1 {
        background: url("../../images/bom_img/2.png") no-repeat;
        position: relative;
        margin-top: 15px;
        margin-left: 10px;
    }

    /*
    第三个图标
    */
    .ztree li span.button.switch.level2 {
        background: url("../../images/bom_img/3.png") no-repeat;
        position: relative;
        margin-top: 18px;
        margin-left: 12px;
    }

    .ztree li:last-child::before {
        height: 30px;
    }

    .ztree li a {
        height: 24px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border: 1px solid lightgrey;
        border-radius: 5px;
        display: inline-block;
        padding: 3px 10px;
        text-decoration: none;
        background-color: #f9fcfc;
        margin-top: 8px;
    }

    .ztree ul > li {
        list-style-type: none;
        margin-left: 3px;
        padding: 10px 0px 5px 5px;
        position: relative;
        left: 0px;
        font-size: 12px;
        cursor: pointer;
    }

    .ztree li a.curSelectedNode {
        height: 24px;
        padding-top: 2px;
    }

    .box {
        position: unset;
    }

    body {
        font: 300 14px ‘Helvetica Neue‘,
        Helvetica;
    }

    /* styling the backdrop*/
    ::backdrop {
        /* properties */
        background-color: white;
    }

</style>

<div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            制造BOM管理
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">制造BOM管理</li>
        </ol>
    </section>

    <div id="floatRightMenu">
        <ul id="navigationMenu">
            <li>
                <a class="home" href="" ng-click="updateBOM()"><i class="fa fa-wrench" aria-hidden="true"></i>
                    <span>更新BOM</span>
                </a>
            </li>
            <li>
                <a class="home" href="" ng-click="propertySetting()"><i class="fa fa-cog" aria-hidden="true"></i>
                    <span>属性设置</span>
                </a>
            </li>
            <li>
                <a class="home" href="" ng-click="assisantProcess()"><i class="fa fa-shopping-cart"
                                                                        aria-hidden="true"></i>
                    <span>辅助工艺</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-3">

                <h4>切换模型</h4>

                <div class="form-group">

                    <select class="form-control select2" style="width: 100%;" id="select0">
                        <option selected="selected"></option>
                        <option>简化模型</option>
                        <option>细化模型</option>
                    </select>
                </div>

                <!--下拉-->
                <div class="form-group">
                    <select class="form-control select2" style="width: 100%;" id="select">
                        <option selected="selected"></option>
                        <option ng-repeat="data in rootdata">{{data.name}}</option>
                    </select>
                </div>

                <!--树-->
                <div class="box box-solid" style="/*width: 170px;*/overflow: auto;">
                    <div class="box-header with-border">
                        <h3 class="box-title">BOM</h3>

                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>


                    <div class="box-body no-padding"
                         style=" overflow-y:auto;/* overflow-x:auto; width:200px; height:200px;*/">

                        <div>
                            <ul id="treeDemo" class="ztree"></ul>
                        </div>

                        <div id="rMenu" style="width: 100px;">
                            <ul>
                                <li id="m_add" ng-click="addTreeNode()">新增</li>
                                <li id="m_del" ng-click="removeTreeNode()">删除</li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>

                <!-- /.box -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">

                <div class="box box-primary">

                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <!--tab-->
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Custom Tabs -->
                                <div class="nav-tabs-custom">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="/AdjustOrder/#tab_1" data-toggle="tab">工序</a></li>
                                        <li><a href="/AdjustOrder/#tab_2" data-toggle="tab">DAG图</a></li>
                                        <li style="left: 53%">
                                            <div class="form-group">
                                                <label>请选择查看</label>
                                                <select class="form-control select2" style="width:150px;"
                                                        id="selects">
                                                    <option selected="selected"></option>
                                                    <option>运输工艺</option>
                                                    <option>生产工艺</option>
                                                    <option>显示全部</option>
                                                </select>
                                            </div>
                                        </li>
                                        <!--<li style="left: 22%;top: 7px;" class="fa fa-refresh" title="恢复dag原图" ng-click="refresh()"></li>-->
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab_1">
                                            <div class="mailbox-controls">
                                                <!-- Check all button -->
                                                <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i
                                                        class="fa fa-square-o"></i>
                                                </button>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default btn-sm"><i
                                                            class="fa fa-chevron-left"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-default btn-sm"><i
                                                            class="fa fa-chevron-right"></i>
                                                    </button>
                                                </div>

                                                <!-- /.pull-right -->
                                            </div>
                                            <div class="table-responsive mailbox-messages">
                                                <table class="table table-hover table-striped" id="table_value">
                                                    <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <th>名称</th>
                                                        <th>冷却时间</th>
                                                        <th>校验时间</th>
                                                        <th>数量</th>
                                                    </tr>
                                                    <tr  ng-init="renderTable($last)">
                                                        <td><input name="check" type="checkbox"></td>
                                                        <td>{{processDetail.name}}</td>
                                                        <td>{{processDetail.postTime}}</td>
                                                        <!--<td>{{process.checkTime}}</td>-->
                                                        <td>{{processDetail.unitTime}}</td>
                                                        <td>{{processDetail.quantity}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <!-- /.table -->
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab_2">
                                            <div style="height: auto;margin-bottom: 3px;">
                                                <table class="table table-striped" id="table_info">
                                                    <tr>
                                                        <td><span class="spanKey">节点名称</span></td>
                                                        <td><span class="spanVal" ng-if="processData.name==null"></span>
                                                            <span class="spanVal" ng-if="processData.name!=null">{{processData.name}}</span>
                                                        </td>
                                                        <td><span class="spanKey"></span></td>
                                                        <td><span class="spanVal"></span></td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div id="dagView">
                                                <div id="dag" style="width: 780px;height:640px;"></div>
                                            </div>
                                        </div><!--/.well -->
                                    </div>
                                </div>
                                <!-- /.tab-content -->
                            </div>
                            <!-- nav-tabs-custom -->
                        </div>
                    </div>
                    <!-- /.mail-box-messages -->
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.col -->
<!-- /.row -->
</section>
<!-- /.content -->
</div>