<style>
    .myPages {
        display: table;
        margin:40px auto;
    }

</style>
<div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            订单管理
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">订单管理</li>
        </ol>
    </section>

    <div id="floatRightMenu">
        <ul id="navigationMenu">
            <li>
                <a class="home" href="" ng-click="dispatchRecord()"><i class="fa fa-paper-plane"></i>
                    <span>下发APS</span>
                </a>
            </li>
        </ul>
    </div>

    <section class="content">
        <div class="box box-primary">
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <div class="mailbox-controls">
                    <!-- Check all button -->
                    <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
                    </button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i>
                        </button>
                    </div>
                    <!-- /.btn-group -->
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm" data-toggle="modal"
                                    data-target="#modal-add"
                                    class="btn btn-default" ng-click="reset()"><i class="fa fa-plus"></i> 新增
                            </button>
                            <button type="button" class="btn btn-default btn-sm" data-toggle="modal"
                                    class="btn btn-default" ng-click="update()"><i class="fa fa-wrench"></i> 修改
                            </button>
                            <button type="button" class="btn btn-default btn-sm" ng-click="deleteOrder()"><i
                                    class="fa fa-trash-o"></i> 删除
                            </button>
                        </div>
                        <!-- /.btn-group -->
                    </div>
                    <!-- /.pull-right -->
                </div>
                <div class="table-responsive mailbox-messages">
                    <table class="table table-hover table-striped" id="table_value">
                        <tbody>
                        <tr>
                            <td></td>
                            <th>名称</th>
                            <th>订单来源</th>
                            <th>优先级</th>
                            <th>数量</th>
                            <th>完成数量</th>
                            <th>下单时间</th>
                            <th>完工时间</th>
                            <th>状态</th>
                        </tr>
                        <tr ng-repeat="order in orderList track by $index" ng-init="renderTable($last)" id="value">
                            <td><input id="check" name="check" type="checkbox"></td>
                            <td style="display:none">{{order.id}}</td>
                            <td>{{order.name}}</td>
                            <td>
                                <span class="label label-primary" ng-if="order.origin == 0">手动输入</span>
                                <span class="label label-success" ng-if="order.origin == 1">云排产</span>
                            </td>
                            <td>{{order.priority}}</td>
                            <td>{{order.quantity}}</td>
                            <td>{{order.finishQuantity}}</td>
                            <td>{{order.t0 | date:'yyyy-MM-dd hh:mm:ss' }}</td>
                            <td>{{order.t2 | date:'yyyy-MM-dd hh:mm:ss'}}</td>
                            <td>
                                <span class="label label-primary" ng-if="order.state == 0">计划</span>
                                <span class="label label-danger" ng-if="order.state == 1">排程中</span>
                                <span class="label label-warning" ng-if="order.state == 2">已下发</span>
                                <span class="label label-success" ng-if="order.state == 3">已完工</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- /.table -->
                </div>
                <!-- /.mail-box-messages -->
            </div>

            <!-- /.box-body -->
            <!-- Horizontal Form -->
        </div>

        <!--<div class="myPages">
            <a href="?curPage=1">首页</a>

            <a href="?curPage=<%curPage-1%>">上一页</a>

            <a href="?curPage=<%curPage+1%>">下一页</a>

            <a href="?curPage=<%pageCount%>">尾页</a>
        </div>-->

        <!--新增窗口-->
        <div class="modal fade" id="modal-add">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="reset()">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">新增订单信息</h4>
                    </div>
                    <div class="modal-body">
                        <!-- form start -->
                        <form class="form-horizontal">
                            <div class="box-body">
                                <div class="form-group" id="add-name">
                                    <label class="col-sm-2 control-label">名称</label>

                                    <div class="col-sm-10">
                                        <input class="form-control" name="add-name" title="请输入订单名称！"
                                               placeholder="">
                                    </div>
                                </div>

                                <div class="form-group" id="add-priority">
                                    <label class="col-sm-2 control-label">优先级</label>

                                    <div class="col-sm-10">
                                        <input class="form-control" name="add-priority" title="请输入数字！"
                                               placeholder="">
                                    </div>
                                </div>

                                <div class="form-group" id="add-quantity">
                                    <label class="col-sm-2 control-label">数量(个)</label>

                                    <div class="col-sm-10">
                                        <input class="form-control" name="add-quantity" title="请输入数字！"
                                               placeholder="">
                                    </div>
                                </div>

                                <!-- Date and time range -->
                                <div class="form-group" id="add-t0">
                                    <label class="col-sm-2 control-label">下单时间</label>
                                    <div class="col-sm-10" style="z-index: 9999">
                                        <input type="text" class="form-control pull-right" id="modal-add-t0-datepicker">
                                    </div>
                                    <!-- /.input group -->
                                </div>
                                <div class="form-group" id="add-t2">
                                    <label class="col-sm-2 control-label">最晚完工</label>
                                    <div class="col-sm-10" style="z-index: 9999">
                                        <input type="text" class="form-control pull-right" id="modal-add-t2-datepicker">
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <button type="submit" class="btn btn-default" ng-click="reset()">Reset</button>
                                <button type="submit" class="btn btn-info pull-right" ng-click="addOrder()">Add</button>
                            </div>
                            <!-- /.box-footer -->
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <!--修改窗口-->
        <div class="modal fade" id="modal-edit">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="reset()">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">修改订单信息</h4>
                    </div>
                    <div class="modal-body">
                        <!-- form start -->
                        <form class="form-horizontal">
                            <div class="box-body" ng-repeat="order in editList">
                                <div class="form-group" id="edit-name">
                                    <label class="col-sm-2 control-label">名称</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" name="edit-name" title="请输入订单名称！"
                                               value="{{order.name}}" placeholder="">
                                    </div>
                                </div>

                                <div class="form-group" id="edit-priority">
                                    <label class="col-sm-2 control-label">优先级</label>

                                    <div class="col-sm-10">
                                        <input class="form-control" name="edit-priority" title="请输入数字！"
                                               value="{{order.priority}}" placeholder="">
                                    </div>
                                </div>

                                <div class="form-group" id="edit-quantity">
                                    <label class="col-sm-2 control-label">数量(个)</label>

                                    <div class="col-sm-10">
                                        <input class="form-control" name="edit-quantity" title="请输入数字！"
                                               value="{{order.quantity}}" placeholder="">
                                    </div>
                                </div>
                                <!-- Date and time range -->
                                <div class="form-group" id="edit-t0">
                                    <label class="col-sm-2 control-label">下单时间</label>
                                    <div class="col-sm-10" style="z-index: 9999">
                                        <input type="text" class="form-control pull-right" id="modal-edit-t0-datepicker"
                                               value="{{order.t0 | date:'yyyy-MM-dd hh:mm:ss' }}">
                                    </div>
                                    <!-- /.input group -->
                                </div>
                                <div class="form-group" id="edit-t2">
                                    <label class="col-sm-2 control-label">完工时间</label>
                                    <div class="col-sm-10" style="z-index: 9999">
                                        <input type="text" class="form-control pull-right" id="modal-edit-t2-datepicker"
                                               value="{{order.t2 | date:'yyyy-MM-dd hh:mm:ss'}}">
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <button type="submit" class="btn btn-default" ng-click="reset()">Reset</button>
                                <button type="submit" class="btn btn-info pull-right" ng-click="editOrder()">Edlt
                                </button>
                            </div>
                            <!-- /.box-footer -->
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--详细信息窗口-->
        <!--  <div class="modal fade" id="modal-info">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title">订单详细信息</h4>
                      </div>
                      <div class="modal-body">
                          &lt;!&ndash; form start &ndash;&gt;
                          <div class="box">
                              &lt;!&ndash; /.box-header &ndash;&gt;
                              <div class="box-body no-padding">
                                  <table class="table table-condensed">
                                      <tr ng-repeat="info in infoList track by $index">
                                          <td>产品名称</td>
                                          <td>{{info.name}}</td>
                                      </tr>
                                      <tr>
                                          <td>订单数量</td>
                                          <td>{{info.quantity}}</td>
                                      </tr>
                                      <tr>
                                          <td>完工数量</td>
                                          <td>{{info.finishQuantity}}</td>
                                      </tr>
                                      <tr>
                                          <td>产品名称</td>
                                          <td>{{info.productByIdProduct.name}}</td>
                                      </tr>
                                      <tr>
                                          <td>租户名称</td>
                                          <td>{{info.clubByIdClub.name}}</td>
                                      </tr>
                                  </table>
                              </div>
                              &lt;!&ndash; /.box-body &ndash;&gt;
                          </div>
                          &lt;!&ndash; /.box &ndash;&gt;
                      </div>
                  </div>
              </div>
          </div>-->
    </section>
</div>
