<style>
    .myLabel {
        margin-left: -15px;
    }
</style>
<div>

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            工序资源分配管理
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">工序资源分配管理</li>
        </ol>
    </section>

    <section class="content">
        <div class="box box-primary">
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <div class="mailbox-controls">
                    <!-- Check all button -->
                    <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
                    </button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i>
                        </button>
                    </div>
                    <!-- /.btn-group -->
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm" data-toggle="modal"
                                    data-target="#modal-add"
                                    class="btn btn-default" ng-click="reset()"><i class="fa fa-plus"></i> 新增
                            </button>
                            <button type="button" class="btn btn-default btn-sm" data-toggle="modal"
                                    class="btn btn-default" ng-click="update()"><i class="fa fa-wrench"></i> 修改
                            </button>
                            <button type="button" class="btn btn-default btn-sm" ng-click="deleteAssisantProcess()"><i
                                    class="fa fa-trash-o"></i> 删除
                            </button>
                        </div>
                        <!-- /.btn-group -->
                    </div>
                    <!-- /.pull-right -->
                </div>
                <div class="table-responsive mailbox-messages">
                    <table class="table table-hover table-striped" id="table_value">
                        <tbody>
                        <tr>
                            <td></td>
                            <th>类型编号集合</th>
                            <th>资源类型分组</th>
                            <th>地点编码</th>
                            <th>最少资源数量</th>
                            <th>最多资源数量</th>
                            <th>工序串行权重</th>
                        </tr>
                        <tr ng-repeat="resourcedis in resourcedisList track by $index" ng-init="renderTable($last)">
                            <td><input name="check" type="checkbox"></td>
                            <td style="display:none">{{resourcedis.id}}</td>
                            <td>{{resourcedis.grp}}</td>
                            <td>{{resourcedis.typeSite}}</td>
                            <td>{{resourcedis.idSite}}</td>
                            <td>{{resourcedis.minResource}}</td>
                            <td>{{resourcedis.maxResource}}</td>
                            <td>{{resourcedis.weightParallel}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- /.table -->
                </div>
                <!-- /.mail-box-messages -->
            </div>
            <!-- /.box-body -->
            <!-- Horizontal Form -->
        </div>
        <!--新增窗口-->
        <div class="modal fade" id="modal-add">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="reset()">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">新增工序资源信息</h4>
                    </div>
                    <div class="modal-body">
                        <!-- form start -->
                        <form class="form-horizontal">
                            <div class="box-body">
                                <div class="form-group" id="add-grp">
                                    <label class="col-sm-3 control-label myLabel">类型编号集合</label>

                                    <div class="col-sm-9">
                                        <input class="form-control" name="add-grp" title="请输入数字！！"
                                               placeholder="">
                                    </div>
                                </div>
                                <div class="form-group" id="add-typeSite">
                                    <label class="col-sm-3 control-label myLabel">资源类型分组</label>

                                    <div class="col-sm-9">
                                        <input class="form-control" name="add-typeSite" title="请输入数字！"
                                               placeholder="">
                                    </div>
                                </div>
                                <div class="form-group" id="add-idSite">
                                    <label class="col-sm-3 control-label myLabel">地点编码</label>

                                    <div class="col-sm-9">
                                        <input class="form-control" name="add-idSite" title="请输入数字！"
                                               placeholder="">
                                    </div>
                                </div>
                                <div class="form-group" id="add-minResource">
                                    <label class="col-sm-3 control-label myLabel">最少资源数量</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" name="add-minResource" title="请输入数字！"
                                               placeholder="">
                                    </div>
                                </div>
                                <!-- Date and time range -->
                                <div class="form-group" id="add-maxResource">
                                    <label class="col-sm-3 control-label myLabel">最多资源数量</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" name="add-maxResource" title="请输入数字！！"
                                               placeholder="">
                                    </div>
                                    <!-- /.input group -->
                                </div>
                                <div class="form-group" id="add-weightParallel">
                                    <label class="col-sm-3 control-label myLabel">工序串行权重</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" name="add-weightParallel" title="请输入数字！"
                                               placeholder="">
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <button type="submit" class="btn btn-default" ng-click="reset()">Reset</button>
                                <button type="submit" class="btn btn-info pull-right" ng-click="addAssisantProcess()">
                                    Add
                                </button>
                            </div>
                            <!-- /.box-footer -->
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <!--修改窗口-->
        <div class="modal fade" id="modal-edit">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="reset()">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">修改工序资源信息</h4>
                    </div>
                    <div class="modal-body">
                        <!-- form start -->
                        <form class="form-horizontal">
                            <div class="box-body" ng-repeat="resourcedis in editList">
                                <div class="form-group" id="edit-grp">
                                    <label class="col-sm-3 control-label myLabel">类型编号集合</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" name="edit-grp" title="请输入数字！"
                                               value="{{resourcedis.grp}}" placeholder="">
                                    </div>
                                </div>

                                <div class="form-group" id="edit-typeSite">
                                    <label class="col-sm-3 control-label myLabel">资源类型分组</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" name="edit-typeSite" title="请输入数字！"
                                               value="{{resourcedis.typeSite}}" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group" id="edit-idSite">
                                    <label class="col-sm-3 control-label myLabel">地点编码</label>

                                    <div class="col-sm-9">
                                        <input class="form-control" name="edit-idSite" title="请输入数字！"
                                               value="{{resourcedis.idSite}}" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group" id="edit-minResource">
                                    <label class="col-sm-3 control-label myLabel">最少资源数量</label>

                                    <div class="col-sm-9">
                                        <input class="form-control" name="edit-minResource" title="请输入数字！"
                                               value="{{resourcedis.minResource}}" placeholder="">
                                    </div>
                                </div>
                                <!-- Date and time range -->
                                <div class="form-group" id="edit-maxResource">
                                    <label class="col-sm-3 control-label myLabel">最多资源数量</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" name="edit-maxResource" title="请输入数字！"
                                               value="{{resourcedis.maxResource}}" placeholder="">
                                    </div>
                                    <!-- /.input group -->
                                </div>
                                <div class="form-group" id="edit-weightParallel">
                                    <label class="col-sm-3 control-label myLabel">工序串行权重</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" name="edit-weightParallel" title="请输入数字！"
                                               value="{{resourcedis.weightParallel}}" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <button type="submit" class="btn btn-default" ng-click="reset()">Reset</button>
                                <button type="submit" class="btn btn-info pull-right" ng-click="editAssisantProcess()">
                                    Edlt
                                </button>
                            </div>
                            <!-- /.box-footer -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
