<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/TestDatabase?useUnicode=true&amp;serverTimezone=UTC&amp;characterEncoding=UTF-8</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <!-- transaction is supported by org.hibernate.dialect.MySQL5InnoDBDialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="show_sql">false</property>
        <property name="format_sql">true</property>

        <property name="hbm2ddl.auto">update</property>
        <property name="connection.autocommit">true</property>
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- APS车间接口 -->
        <mapping resource="RG_ShiftEntity.hbm.xml"/>
        <mapping resource="RG_ClubEntity.hbm.xml"/>
        <mapping resource="RG_DistanceEntity.hbm.xml"/>
        <mapping resource="RG_UserEntity.hbm.xml"/>
        <mapping resource="RG_ConfigEntity.hbm.xml"/>
        <mapping resource="RG_ProviderEntity.hbm.xml"/>
        <mapping resource="RG_GroupresourceEntity.hbm.xml"/>
        <mapping resource="RG_ProductEntity.hbm.xml"/>
        <mapping resource="RG_ProcessEntity.hbm.xml"/>
        <mapping resource="RG_SiteEntity.hbm.xml"/>
        <mapping resource="RG_OrderEntity.hbm.xml"/>
        <mapping resource="RG_ResourceEntity.hbm.xml"/>
        <mapping resource="RG_ResourceTyperesourceEntity.hbm.xml"/>
        <mapping resource="RG_TyperescourceEntity.hbm.xml"/>
        <mapping resource="RG_AssisantprocessEntity.hbm.xml"/>
        <mapping resource="RG_PlanEntity.hbm.xml"/>

        <!--异常接口-->
        <mapping resource="RG_AdjustDeviceEntity.hbm.xml"/>
        <mapping resource="RG_AdjustOrderEntity.hbm.xml"/>
        <mapping resource="RG_AdjustProcessEntity.hbm.xml"/>

        <!-- 3D车间接口 -->
        <mapping resource="RG_LayoutEntity.hbm.xml"/>
        <mapping resource="RG_LayoutDetailEntity.hbm.xml"/>
        <mapping resource="RG_EmulateDataEntity.hbm.xml"/>
        <mapping resource="RG_RealDataEntity.hbm.xml"/>
        <mapping resource="RG_State3DEntity.hbm.xml"/>

        <!-- 框架自己维护 -->
        <mapping resource="RG_ScheduleEntity.hbm.xml"/>

    </session-factory>
</hibernate-configuration>