<section class="content" style="min-height: 150px;">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>{{exceptionNum.processExcepitonHandledNum}}/{{exceptionNum.processExcepitonNum}}</h3>
                    <p>工序异常</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-cog"></i>
                </div>
                <a href="#!/AdjustProcedure" class="small-box-footer">详细信息<i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{{exceptionNum.orderExcepitonHandledNum}}/{{exceptionNum.orderExcepitonNum}}</h3>
                    <p>紧急插单</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-bolt"></i>
                </div>
                <a href="#!/AdjustOrder" class="small-box-footer">详细信息<i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>{{exceptionNum.deviceExcepitonHandledNum}}/{{exceptionNum.deviceExcepitonNum}}</h3>
                    <p>调整资源</p>
                </div>
                <div class="icon">
                    <i class="ion ion-settings"></i>
                </div>
                <a href="#!/AdjustDevice" class="small-box-footer">详细信息<i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>{{exceptionNum.layoutExcepitonHandledNum}}/{{exceptionNum.layoutExcepitonNum}}</h3>
                    <p>调整布局</p>
                </div>
                <div class="icon">
                    <i class="ion ion-social-buffer"></i>
                </div>
                <a href="#!/AdjustFactory" class="small-box-footer">详细信息<i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->
</section>

<section class="content">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <a class="thumbnail" ng-click="showDetail($event)" style="cursor:pointer">
                <img src="images/index/loop1.png"
                     alt="通用的占位符缩略图">
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="thumbnail" ng-click="showDetail($event)" style="cursor:pointer">
                <img src="images/index/loop2.png"
                     alt="通用的占位符缩略图">
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="thumbnail" ng-click="showDetail($event)" style="cursor:pointer">
                <img src="images/index/loop3.png"
                     alt="通用的占位符缩略图">
            </a>
        </div>
    </div>
</section>

<!-- Main content -->
<section class="content">
    <!-- row -->
    <div class="row">
        <div class="col-md-12">
            <!-- The time line -->
            <ul class="timeline">
                <!-- timeline item -->
                <li ng-repeat="eventLog in eventLogList track by $index">
                    <i class="fa fa-file bg-yellow" ng-if="eventLog.eventType == 0"></i>
                    <i class="fa fa-cog bg-green fa-spin " ng-if="eventLog.eventType == 1"></i>
                    <i class="fa fa-cog bg-red fa-spin " ng-if="eventLog.eventType == 2"></i>
                    <!--产生工厂布局调整异常-->
                    <i class="fa fa-map-o bg-yellow" ng-if="eventLog.eventType == 3"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i>{{eventLog.creatTime | date:'yyyy-MM-dd HH:mm:ss' }}</span>
                        <h3 class="timeline-header no-border" ng-if="eventLog.logItemtype == 0"><a href="#">{{eventLog.title}}</a>{{eventLog.content}}
                        </h3>
                        <h3 class="timeline-header" ng-if="eventLog.logItemtype == 1"><a href="#">{{eventLog.title}}</a>
                        </h3>
                        <div class="timeline-body" ng-if="eventLog.logItemtype == 1">{{eventLog.content}}</div>
                    </div>
                </li>
                <!-- END timeline item -->
                <!-- timeline time label -->
                <li class="time-label">
                  <span class="bg-green">
                    2017年1月1日
                  </span>
                </li>
                <!-- END timeline item -->
                <li>
                    <i class="fa fa-clock-o bg-gray"></i>
                </li>
            </ul>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->