<style>
    .myLabel {
        margin-left: -15px;
    }
</style>
<div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            资源工组管理
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">资源工组管理</li>
        </ol>
    </section>

    <section class="content">
        <div class="box box-primary">
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <div class="mailbox-controls">
                    <!-- Check all button -->
                    <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
                    </button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i>
                        </button>
                    </div>
                    <!-- /.btn-group -->
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm" data-toggle="modal"
                                    data-target="#modal-add"
                                    class="btn btn-default" ng-click="reset()"><i class="fa fa-plus"></i> 新增
                            </button>
                            <button type="button" class="btn btn-default btn-sm" data-toggle="modal"
                                    class="btn btn-default" ng-click="update()"><i class="fa fa-wrench"></i> 修改
                            </button>
                            <button type="button" class="btn btn-default btn-sm" ng-click="deleteGroup()"><i
                                    class="fa fa-trash-o"></i> 删除
                            </button>
                        </div>
                        <!-- /.btn-group -->
                    </div>
                    <!-- /.pull-right -->
                </div>
                <div class="table-responsive mailbox-messages">
                    <table class="table table-hover table-striped" id="table_value">
                        <tbody>
                        <tr>
                            <td></td>
                            <th>工组名称</th>
                           <!-- <th>初始位置编码</th>-->
                            <th>可工作位置</th>
                        </tr>
                        <tr ng-repeat="group in groupList track by $index" ng-init="renderTable($last)">
                            <td><input name="check" type="checkbox"></td>
                            <td style="display:none">{{group.id}}</td>
                            <td>{{group.name}}</td>
                       <!--     <td>{{group.idSite}}</td>-->
                            <td>{{group.state}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- /.table -->
                </div>
                <!-- /.mail-box-messages -->
            </div>
            <!-- /.box-body -->
            <!-- Horizontal Form -->
        </div>
        <!--新增窗口-->
        <div class="modal fade" id="modal-add">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="reset()">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">新增资源工组信息</h4>
                    </div>
                    <div class="modal-body">
                        <!-- form start -->
                        <form class="form-horizontal">
                            <div class="box-body">
                                <div class="form-group" id="add-name">
                                    <label class="col-sm-3 control-label myLabel">工组名称</label>

                                    <div class="col-sm-9">
                                        <input class="form-control" name="add-name" title="请输入英文字符串！"
                                               placeholder="">
                                    </div>
                                </div>
                                <div class="form-group" id="add-idSite0">
                                    <label class="col-sm-3 control-label myLabel">初始位置编码</label>

                                    <div class="col-sm-9">
                                        <input class="form-control" name="add-idSite0" title="请输入数字！"
                                               placeholder="">
                                    </div>
                                </div>
                                <div class="form-group" id="add-state">
                                    <label class="col-sm-3 control-label myLabel">可工作位置</label>

                                    <div class="col-sm-9">
                                        <input class="form-control" name="add-state" title="请输入数字！"
                                               placeholder="">
                                    </div>
                                </div>
                                <!-- /.box-body -->
                                <div class="box-footer">
                                    <button type="submit" class="btn btn-default" ng-click="reset()">Reset</button>
                                    <button type="submit" class="btn btn-info pull-right" ng-click="addGroup()">Add
                                    </button>
                                </div>
                                <!-- /.box-footer -->
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <!--修改窗口-->
        <div class="modal fade" id="modal-edit">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="reset()">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">新增资源工组信息</h4>
                    </div>
                    <div class="modal-body">
                        <!-- form start -->
                        <form class="form-horizontal">
                            <div class="box-body" ng-repeat="group in editList">
                                <div class="form-group" id="edit-name">
                                    <label class="col-sm-3 control-label myLabel">工组名称</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" name="edit-name" title="请输入英文字符串！"
                                               value="{{group.name}}" placeholder="">
                                    </div>
                                </div>

                                <div class="form-group" id="edit-idSite0">
                                    <label class="col-sm-3 control-label myLabel">初始位置编码</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" name="edit-idSite0" title="请输入数字！"
                                               value="{{group.idSite0}}" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group" id="edit-state">
                                    <label class="col-sm-3 control-label myLabel">可工作位置</label>

                                    <div class="col-sm-9">
                                        <input class="form-control" name="edit-state" title="请输入数字！"
                                               value="{{group.state}}" placeholder="">
                                    </div>
                                </div>
                                <!-- /.box-body -->
                                <div class="box-footer">
                                    <button type="submit" class="btn btn-default" ng-click="reset()">Reset</button>
                                    <button type="submit" class="btn btn-info pull-right" ng-click="editGroup()">Edlt
                                    </button>
                                </div>
                                <!-- /.box-footer -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
