<style>
    .btn-block {
        display: block;
        width: 66px;
        padding: 0px 10px;
    }

</style>
<div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            调整订单任务
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">调整订单任务</li>
        </ol>
    </section>

    <section class="content">
        <div class="box box-primary">
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <div class="mailbox-controls">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i>
                        </button>
                    </div>

                    <!--     <div class="pull-right">
                             <div class="btn-group">
                                 <button type="button" class="btn btn-default btn-sm" data-toggle="modal"
                                         data-target="#modal-simulate"
                                         ng-click="reset()"><i class="fa fa-map-signs"></i>异常模拟
                                 </button>
                             </div>
                         </div>-->
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <!-- Custom Tabs -->
                        <div class="nav-tabs-custom">
                            <ul id="myUl" class="nav nav-tabs">
                                <li class="active"><a href="/AdjustOrder/#tab_1" data-toggle="tab">紧急插单分析</a></li>
                                <li><a href="/AdjustOrder/#tab_2" data-toggle="tab">交期承诺分析</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1">
                                    <div class="table-responsive mailbox-messages">
                                        <table class="table table-hover table-striped" id="table_adjust">
                                            <tbody>
                                            <tr>
                                                <th>订单名称</th>
                                                <th>异常来源</th>
                                                <th>优先级</th>
                                                <th>数 量</th>
                                                <th>异常状态</th>
                                                <th>处理时间</th>
                                                <th>操作</th>
                                            </tr>
                                            <tr ng-repeat="x in adjustOrder" ng-init="renderTable($last)">
                                                <td style="display:none" id="id">{{x.id}}</td>
                                                <td id="ord">{{x.ord.name}}</td>
                                                <td id="origin">{{x.origin}}</td>
                                                <td>{{x.ord.priority}}</td>
                                                <td>{{x.ord.quantity}}</td>
                                                <td>
                                                    <span class="label label-danger" ng-if="x.state == 1">未处理</span>
                                                    <span class="label label-primary" ng-if="x.state == 2">APS处理</span>
                                                    <span class="label label-success"
                                                          ng-if="x.state == 3">APS处理完成</span>
                                                    <span class="label label-success" ng-if="x.state == 4">调整完成</span>
                                                    <span class="label label-warning" ng-if="x.state == 5">处理完成</span>
                                                    <span class="label label-danger" ng-if="x.state == 6">应急失败</span>
                                                </td>
                                                <td>
                                                    <span ng-if="x.processTime ==null">--</span>
                                                    <span ng-if="x.processTime !=null">{{x.processTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                                                </td>
                                                <td>
                                                    <span ng-if="x.state == 1">
                                                        <button type="button" class="btn btn-block btn-sm btn-info"
                                                                ng-click="exceptionHandling($event)">处理
                                                        </button>
                                                    </span>
                                                    <span ng-if="x.state == 2">
                                                        <button type="button" class="btn btn-block btn-sm"
                                                                style="background-color: #3C8DBC;color: white;"
                                                                disabled="disabled">处理中
                                                        </button>
                                                    </span>
                                                    <span ng-if="x.state == 3">
                                                        <button type="button" class="btn btn-block btn-sm"
                                                                style="background-color: #00A65A;color: white;"
                                                                ng-click="interactiveSchedule()">交互优化
                                                        </button>
                                                    </span>
                                                    <span ng-if="x.state == 4">
                                                        <button type="button" class="btn btn-block btn-sm"
                                                                style="background-color: #00A65A;color: white;"
                                                                disabled="disabled">下发MES
                                                        </button>
                                                    </span>
                                                    <span ng-if="x.state == 5">
                                                        <button type="button" class="btn btn-block btn-sm"
                                                                style="background-color: #F39C12;color: white;"
                                                                disabled="disabled">处理完成
                                                        </button>
                                                    </span>
                                                    <!--<span class="label label-danger" ng-if="x.state == 6"></span>-->
                                                    <!--<button type="button" class="btn btn-block btn-sm btn-info"
                                                            ng-click="exceptionHandling($event)">处理
                                                    </button>-->
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <!-- /.table -->
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab_2">
                                    <div class="table-responsive mailbox-messages">
                                        <table class="table table-hover table-striped" id="table_value">
                                            <tbody>
                                            <tr>
                                                <th>订单名称</th>
                                                <th>异常来源</th>
                                                <th>优先级</th>
                                                <th>数 量</th>
                                                <th>异常状态</th>
                                                <th>处理时间</th>
                                                <th>操作</th>
                                            </tr>
                                            <tr ng-repeat="x in adjustOrder" ng-init="renderTable($last)">
                                                <td style="display:none">{{x.id}}</td>
                                                <td>{{x.ord.name}}</td>
                                                <td>{{x.origin}}</td>
                                                <td>{{x.ord.priority}}</td>
                                                <td>{{x.ord.quantity}}</td>
                                                <td>
                                                    <span class="label label-danger" ng-if="x.state == 1">异常未处理</span>
                                                    <span class="label label-primary" ng-if="x.state == 2">aps处理中</span>
                                                    <span class="label label-success"
                                                          ng-if="x.state == 3">aps处理完成</span>
                                                    <span class="label label-success" ng-if="x.state == 4">调整完成</span>
                                                    <span class="label label-warning" ng-if="x.state == 5">处理完成</span>
                                                    <span class="label label-danger" ng-if="x.state == 6">应急失败</span>
                                                </td>
                                                <td>
                                                    <span ng-if="x.processTime ==null">--</span>
                                                    <span ng-if="x.processTime !=null">{{x.processTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-block btn-sm btn-info"
                                                            ng-click="exceptionHandling($event)">处理
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <!-- /.table -->
                                    </div>
                                </div>
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- nav-tabs-custom -->
                    </div>
                </div>
                <!-- /.mail-box-messages -->
            </div>
            <!-- /.box-body -->
            <!-- Horizontal Form -->
        </div>
        <!--异常模拟窗口-->
        <!--  <div class="modal fade" id="modal-simulate">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="reset()">
                              <span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title">异常模拟</h4>
                      </div>
                      <div class="modal-body">
                          &lt;!&ndash; form start &ndash;&gt;
                          <form class="form-horizontal">
                              <div class="box-body">

                                  &lt;!&ndash; Date and time range &ndash;&gt;
                                  <div class="form-group" id="add-t0">
                                      <label class="col-sm-3 control-label">下单时间</label>
                                      <div class="col-sm-8" style="z-index: 9999">
                                          <input type="text" class="form-control pull-right" id="modal-add-t0-datepicker">
                                      </div>
                                      &lt;!&ndash; /.input group &ndash;&gt;
                                  </div>

                                  <div class="form-group" id="add-t1">
                                      <label class="col-sm-3 control-label">最早开工时间</label>
                                      <div class="col-sm-8" style="z-index: 9999">
                                          <input type="text" class="form-control pull-right" id="modal-add-t1-datepicker">
                                      </div>
                                      &lt;!&ndash; /.input group &ndash;&gt;
                                  </div>
                                  <div class="form-group" id="add-t2">
                                      <label class="col-sm-3 control-label">最晚交付时间</label>
                                      <div class="col-sm-8" style="z-index: 9999">
                                          <input type="text" class="form-control pull-right" id="modal-add-t2-datepicker">
                                      </div>
                                  </div>
                              </div>
                              &lt;!&ndash; /.box-body &ndash;&gt;
                              <div class="box-footer">
                                  <button type="submit" class="btn btn-default" ng-click="reset()">Reset</button>
                                  <button type="submit" class="btn btn-info pull-right" ng-click="addAdjustOrder()">插入异常</button>
                              </div>
                              &lt;!&ndash; /.box-footer &ndash;&gt;
                          </form>

                      </div>
                  </div>
              </div>
          </div>-->
    </section>
</div>