<div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            调整工序
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">调整工序</li>
        </ol>
    </section>

    <section class="content">
        <div class="box box-primary">
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <div class="mailbox-controls">
                    <!-- Check all button -->
                    <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
                    </button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i>
                        </button>
                    </div>
                    <!-- /.btn-group -->
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm" data-toggle="modal"
                                    data-target="#modal-add"
                                    class="btn btn-default" ng-click="reset()"><i class="fa fa-plus"></i> 新增
                            </button>
                            <button type="button" class="btn btn-default btn-sm" data-toggle="modal"
                                    class="btn btn-default" ng-click="update()"><i class="fa fa-wrench"></i> 修改
                            </button>
                            <button type="button" class="btn btn-default btn-sm" ng-click="deleteOrder()"><i
                                    class="fa fa-trash-o"></i> 删除
                            </button>
                        </div>
                        <!-- /.btn-group -->
                    </div>
                    <!-- /.pull-right -->
                </div>
                <div class="table-responsive mailbox-messages">
                    <table class="table table-hover table-striped" id="table_value">
                        <tbody>
                        <tr>
                            <td></td>
                            <td>处理状态</td>
                            <td>订单编码</td>
                            <td>上报时间</td>
                            <td>工序码</td>
                            <td>指定时间</td>
                            <td>指定编码</td>
                            <td style="width: 95px;">异常来源</td>
                        </tr>
                        <tr  ng-repeat="x in arr track by $index" ng-init="renderTable($last)" onclick="a(this)">
                            <td><input name="check" type="checkbox"></td>
                            <td id="state">{{x.state}}</td>
                            <td id="idOrder">{{x.idOrder}}</td>
                            <td id="reportTime">{{x.reportTime}}</td>
                            <td id="idTask">{{x.idTask}}</td>
                            <td id="appointStartTime">{{x.appointStartTime}}</td>
                            <td id="appointResource">{{x.appointResource}}</td>
                            <td id="origin">{{x.origin}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- /.table -->
                </div>
                <!-- /.mail-box-messages -->
            </div>
            <!-- /.box-body -->
            <!-- Horizontal Form -->
        </div>
    </section>
</div>
