<!-- Main content -->
<style>
    .tableInfoDiv{
        float: right;
    }

    .tableInfo{
        margin-top: 5px;
    }

    #div > div > .zr-element{
        width: 100%;
    }

</style>
<section class="content">
    <!--<div class="box-primary">-->
    <!-- DONUT CHART -->
        <div class="box box-danger box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">DeportInfo</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="col-md-3">
                    <div>
                            <h2>请选择货架:</h2>
                    </div>
                    <br/>
                    <div class="form-group">
                        <select class="form-control select2" style="width: 100%;" id="select">
                            <option selected="selected"></option>
                            <!--<option ng-repeat="data in rootdata">{{data.name}}</option>-->
                        </select>
                    </div>
                </div>
                <div class="col-md-8">
                    <div id="pieChart" style="height:300px;width: 100%;"></div>
                    <!--<canvas id="pieChart" style="height:200px; width: 500px;"></canvas>-->
                </div>
                <div class="col-md-1">
                    <div style="width: 100%;">
                    </div>
                </div>

            </div>
            <!-- /.box-body -->
        </div>
    <!--</div>-->
    <!--<div class="row">
        <div class="col-xs-12">
            &lt;!&ndash; interactive chart &ndash;&gt;
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-bar-chart-o"></i>

                    <h3 class="box-title">温度变化情况</h3>

                    <div class="box-tools pull-right">
                        实时数据
                        <div class="btn-group" id="realtime" data-toggle="btn-toggle">
                            <button type="button" class="btn btn-default btn-xs active" data-toggle="on">开</button>
                            <button type="button" class="btn btn-default btn-xs" data-toggle="off">关</button>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div id="interactive" style="height: 300px;"></div>
                </div>
                &lt;!&ndash; /.box-body&ndash;&gt;
            </div>
            &lt;!&ndash; /.box &ndash;&gt;

        </div>
        &lt;!&ndash; /.col &ndash;&gt;
    </div>-->

</section>
<section class="content">
    <div class="box box-primary">
        <!-- /.box-header -->
        <div class="box-body no-padding">
            <div class="mailbox-controls">
                <!-- Check all button -->
                <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
                </button>
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i>
                    </button>
                </div>
                <div class="tableInfoDiv">
                    <h3 class="tableInfo">立体仓库信息</h3>
                </div>

            </div>
            <div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped">
                    <tbody>
                    <tr>
                        <td></td>
                        <th>机器人编号</th>
                        <th>订单编号</th>
                        <th>上报时间</th>
                        <th>正在执行</th>
                        <th>状态</th>
                    </tr>
                    <tr ng-repeat="carry in CarryList track by $index" ng-init="renderTable($last)">
                        <td><input name="check" type="checkbox"></td>
                        <td style="display:none">{{carry.id}}</td>
                        <td>{{carry.agvId}}</td>
                        <td>{{carry.idOrder}}</td>
                        <td>{{carry.reportTime}}</td>
                        <td>{{carry.jobDesc}}</td>
                        <td>
                            <span class="label label-danger" ng-if="carry.state == 0">不正常</span>
                            <span class="label label-success" ng-if="carry.state == 1">正常</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- /.table -->
            </div>
            <!-- /.mail-box-messages -->
        </div>

        <!-- /.box-body -->
        <!-- Horizontal Form -->
    </div>

    <div class="box box-primary">
        <!-- /.box-header -->
        <div class="box-body no-padding">
            <div class="mailbox-controls">
                <!-- Check all button -->
                <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
                </button>
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i>
                    </button>
                </div>

                <div class="tableInfoDiv">
                    <h3 class="tableInfo">装配线搬运机器人信息</h3>
                </div>

            </div>
            <div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped">
                    <tbody>
                    <tr>
                        <td></td>
                        <th>机器人编号</th>
                        <th>订单编号</th>
                        <th>上报时间</th>
                        <th>正在执行</th>
                        <th>状态</th>
                    </tr>
                    <tr ng-repeat="assemblyCarry in AssemblyCarryList track by $index" ng-init="renderTable($last)">
                        <td><input name="check" type="checkbox"></td>
                        <td style="display:none">{{assemblyCarry.id}}</td>
                        <td>{{assemblyCarry.carryId}}</td>
                        <td>{{assemblyCarry.idOrder}}</td>
                        <td>{{assemblyCarry.reportTime}}</td>
                        <td>{{assemblyCarry.jobDesc}}</td>
                        <td>
                            <span class="label label-danger" ng-if="assemblyCarry.state == 0">不正常</span>
                            <span class="label label-success" ng-if="assemblyCarry.state == 1">正常</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- /.table -->
            </div>
            <!-- /.mail-box-messages -->
        </div>

        <!-- /.box-body -->
        <!-- Horizontal Form -->
    </div>

    <div class="box box-primary">
        <!-- /.box-header -->
        <div class="box-body no-padding">
            <div class="mailbox-controls">
                <!-- Check all button -->
                <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
                </button>
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i>
                    </button>
                </div>

                <div class="tableInfoDiv">
                    <h3 class="tableInfo">智能装配中心信息</h3>
                </div>

            </div>
            <div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped">
                    <tbody>
                    <tr>
                        <td></td>
                        <th>机器人编号</th>
                        <th>订单编号</th>
                        <th>上报时间</th>
                        <th>正在执行</th>
                        <th>状态</th>
                    </tr>
                    <tr ng-repeat="assemblyCenter in AssemblyCenterList track by $index" ng-init="renderTable($last)">
                        <td><input name="check" type="checkbox"></td>
                        <td style="display:none">{{assemblyCenter.id}}</td>
                        <td>{{assemblyCenter.carryId}}</td>
                        <td>{{assemblyCenter.idOrder}}</td>
                        <td>{{assemblyCenter.reportTime}}</td>
                        <td>{{assemblyCenter.jobDesc}}</td>
                        <td>
                            <span class="label label-danger" ng-if="assemblyCenter.state == 0">不正常</span>
                            <span class="label label-success" ng-if="assemblyCenter.state == 1">正常</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- /.table -->
            </div>
            <!-- /.mail-box-messages -->
        </div>

        <!-- /.box-body -->
        <!-- Horizontal Form -->
    </div>
</section>
<!-- /.content -->